body {
  font-size: 1.2rem;
  color: #000;
  font-family: 'Bitter', serif;
  overflow-y: scroll;
  line-height: 150%;
}

p {
  text-align: justify;
  text-justify: inter-word;
}

li p {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

h1 {
  line-height: 150%;
}

header {
  border-bottom: 0.4rem solid rgb(100, 0, 161);
}

nav {
  text-align: right;
  height: 100%;
}

nav a {
  height: 100%;
  font-size: 1.2rem;
  font-weight: bold;
  color: black;
  text-decoration: none;
  text-transform: uppercase;
}

footer {
  font-size: 60%;
  margin-top: 2.6rem;
  padding: 1.2rem 0;
  border-top: 0.4rem solid rgb(100, 0, 161);
  color: #555;
}

article .header {
  font-style: italic;
  color: #555;
}

.logo a {
  font-weight: bold;
  color: #000;
  text-decoration: none;
}

img.inline-left {
  margin-right: 1rem;
  margin-bottom: 1rem;
  float: left;
}

img.inline-right {
  margin-left: 1rem;
  margin-bottom: 1rem;
  float: right;
}

@media (min-width: 0px) {
  body {
    width: 90%;
    margin: 0;
    padding: 0 5%;
  }
  header {
    margin: 3.2rem 0 2rem 0;
  }
  nav {
    margin: 0 auto 2rem;
    text-align: center;
  }
  footer {
    text-align: center;
  }
  .logo {
    text-align: center;
    margin: 1rem auto 3rem;
  }
  .logo a {
    font-size: 2.4rem;
  }
  nav a {
    display: inline;
    margin: 0 0.6rem;
  }
}

@media (min-width: 740px) {
  body {
    width: 42rem;
    margin: 0 auto;
    padding: 0;
  }
  header {
    margin: 0 0 2rem;
    padding: 1.2rem 0;
  }
  nav {
    margin: 0;
    text-align: right;
  }
  nav a {
    margin: 0 0 0 1.2rem;
    display: inline;
  }
  footer {
    text-align: right;
  }
  .logo {
    margin: 0;
    text-align: left;
  }
  .logo a {
    float: left;
    font-size: 1.8rem;
  }
}
